@font-face {
  font-family: SFProText-Regular;
  src: url(../../Fonts/SFProText-Regular.ttf);
}

.task {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 64px;
  font-family: SFProText-Regular;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 21px;
  align-items: center;
  color: #666;
  border-bottom:  1px solid #E6E6E6;
  margin: 0 16px;
  outline: none;

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 21px;
    vertical-align: middle;
    max-width: 575px;
  }

  &__completed {
    color: #CDCDCD;
    text-decoration: line-through;
    max-width: 500px;
  }

  &__date {
    color: #CDCDCD;
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;
    letter-spacing: 0;
  }
}

.roundedCheckbox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  position: relative;
  margin: auto 10px auto 0;
  background:  #F7F7F7;
  border-radius: 50%;
  border: 2px solid #11A9EC;
  label {
    width: 14px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50px;
    &:after {
      content: '';
      width: 12px;
      height: 5px;
      position: absolute;
      top: 1px;
      left: -1px;
      border: 2px solid #F7F7F7;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    } 
  }   
}

.checked {
  background-color: #11A9EC;
}